html
    head
        title Alexandria Origins
        style.
            .red {
                color: red;
            }

    body
        #app
            | content

        script(src="/bundle.js")